
.container {text-align:center;}
table {width:100%;}
table td, table th {padding:10px;text-align:center;}
table thead th {font-weight: bold;background-color: #eee;border-bottom: 1px solid #999;border-right: 1px solid #999;}
table thead th:last-child {border-right: none;}
table thead th:hover {cursor: pointer;}
table tbody tr:hover {background:#eee;}

.navbar-nav {margin-left: auto;margin-right: auto;}


@media only screen and (max-width: 1199px) {
  .hospitalized {display:none;}
}
@media only screen and (max-width: 991px) {
  .pending, .negative, .dailydoublingrate {display:none;}
}
@media only screen and (max-width: 767px) {
  .population, .newpositive {display:none;}
}
@media only screen and (max-width: 525px) {
  .percent {display:none;}
}
@media only screen and (max-width: 450px) {
  .totaltests, .positivepercent {display:none;}
}